body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  margin: 0;
  padding: 0;
}

.container {
  width: 450px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h2, h3 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #4facfe;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #007bff;
  transform: scale(1.03);
}

/* Question Card */
.card {
  background: #f9f9f9;
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Options */
.option {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ddd;
}

.option:hover {
  transform: translateX(5px);
  background: #e8f3ff;
}

.option.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.count {
  font-weight: bold;
  color: #007bff;
}

.info {
  text-align: center;
  color: green;
  font-weight: bold;
}
cd 